option_set	purge_level	cov_multiplicator	use_hic	dual_scaf	assembly_ploidy	ul-cut	min_contig_coverage	ont_mode	qc_datatypes	merqury_qc_datatypes	purge_dups_qc_datatypes	lambda	main_datatypes	ultra_long_reads	coverage_estimator	use_telomere	post_join	sim_threshold_for_hapdup_reads	D	N
default	0	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA
phase_grass	0	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	0	NA	NA	NA
l0primary	0	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary	1	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l2primary	2	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l3primary	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l0primary_no_telo	0	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l1primary_no_telo	1	4.5	True	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l2primary_no_telo	2	4.5	True	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l3primary_no_telo	3	4.5	True	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l1primary_main_hifi_duplex	1	4.5	True	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi,duplex	simplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary_no_telo_main_hifi_duplex	1	4.5	True	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi,duplex	simplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l1primary_dual_scaf	1	4.5	True	True	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary_4p	1	4.5	True	False	4	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary_1p	1	4.5	True	False	1	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary_3p	1	4.5	True	False	3	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary_no_ul	1	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	NA	genomescope	True	NA	NA	NA	NA
l1primary_ul_nano	1	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore	genomescope	True	NA	NA	NA	NA
l1primary_ul_lqccs	1	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	lqccs	genomescope	True	NA	NA	NA	NA
l1primary_min_cov_2	1	4.5	True	False	NA	1000	2	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,lqccs,ultralong_nanopore	genomescope	True	NA	NA	NA	NA
l1primary_main_nanopore_only	1	4.5	True	False	NA	1000	1	True	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	simplex,duplex,nanopore	ultralong_nanopore	genomescope	True	NA	NA	NA	NA
l3primary_dual_scaf	3	4.5	True	True	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l3primary_adaptive_nano_as_ul	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs,adaptive_nanopore	genomescope	True	NA	NA	NA	NA
l3primary_main_hifi_duplex	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi,duplex	simplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l3primary_main_nanopore_only	3	4.5	True	False	NA	1000	1	True	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	simplex,duplex,nanopore	ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l3primary_no_telo_main_hifi_duplex	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi,duplex	simplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l3primary_min_cov_2	3	4.5	True	False	NA	1000	2	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l3primary_no_ul	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	NA	genomescope	True	NA	NA	NA	NA
l3primary_ul_nano	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore	genomescope	True	NA	NA	NA	NA
l3primary_ul_lqccs	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	lqccs	genomescope	True	NA	NA	NA	NA
l0primary_no_hic	0	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l1primary_no_hic	1	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l2primary_no_hic	2	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l3primary_no_hic	3	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	NA	NA
l0primary_no_hic_no_telo	0	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l1primary_no_hic_no_telo	1	4.5	False	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l2primary_no_hic_no_telo	2	4.5	False	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l3primary_no_hic_no_telo	3	4.5	False	False	null	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	False	NA	NA	NA	NA
l3primary_no_hic_s0.4	3	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	0.4	NA	NA
l3primary_no_hic_s0.3	3	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	0.3	NA	NA
l3primary_no_hic_s0.2	3	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	0.2	NA	NA
l3primary_no_hic_s0.1	3	4.5	False	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	0.1	NA	NA
repeat_enhanced_l1	1	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	10	200
repeat_enhanced_l2	2	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	10	200
repeat_enhanced_l3	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	10	200
repeat_super_enhanced_l3	3	4.5	True	False	NA	1000	1	False	NA	hifi,simplex,duplex,illumina,bgiseq,aviti	hifi,simplex,duplex,nanopore	NA	hifi	simplex,duplex,nanopore,ultralong_nanopore,lqccs	genomescope	True	NA	NA	20	400
